h1 {
    font-size: 6rem;
    line-height: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1rem;
}

.reduce-gap {
    margin: 0;
    padding: 0;
}

.line-divider {
    border-top: solid;
    border-color:black;
}

.line-divider-gray {
  border-top: solid;
  border-color: #C1C7D0;
}

.page-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-padding {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.content-margin {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.content-padding {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.content-padding-medium {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.content-padding-large {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.padding-right {
    padding-right: 2rem;
}

.padding-left {
    padding-left: 2rem;
}

/* start button */
.btn {
    border-radius: 8px;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.12),0 17px 50px 0 rgba(0,0,0,0.08);
}

.btn-black {
    background-color: black; /* black */
    border: none;
    color: #fafbfc;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.btn-black:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black; /* black */
    border: none;
    color: #fafbfc;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.btn-white {
    background-color: #fafbfc; /* white */
    border: none;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.btn-header-content-link {
  font-size: 1.7rem;
  color:black;
  margin-right: 1.7rem;
  padding-left:0;
  border: none;
  background-color: none;
}

.btn-header-content-link:hover {
  font-size: 1.7rem;
  color:black;
  margin-right: 1.7rem;
  padding-left:0;
  border: none;
  background-color: none;
  cursor: pointer;
}

.btn-header-content-link-small {
  font-size: 1.3rem;
  color:black;
  margin-right: 1rem;
  padding-left:0;
  border: none;
  background-color: none;
}
.btn-header-content-link-small:hover {
  font-size: 1.3rem;
  color:black;
  margin-right: 1rem;
  padding-left:0;
  border: none;
  background-color: none;
  cursor: pointer;
}
/* end button */


/* start footer section */
.footer-div {
    background-color: #dfe1e6;
    color: black;
    border-radius: 1.3rem;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    padding-bottom: 1.7rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
/* end footer section */

/* start content style*/

.content-cover {
    border-radius: 1.3rem;
}

.content-cover-2 {
  border-radius: 0.7rem;
}

.description-tag {
    border-radius: 1.3rem;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    margin-right: 0rem;
    margin-left: 0rem;
}

.content-tag {
  border-radius: 1.3rem;
  padding-right: 1.7rem;
  padding-left: 1.7rem;
  padding-top: 1.7rem;
  padding-bottom: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.content-frame {
    border: 2px solid;
    border-radius: 1.3rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}
/* end content style*/

/* start tag project */
.tag {
    border: solid;
    border-color: black;
    border-radius: 4px;
    letter-spacing: .2rem;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
/* end tag project */

/* start fonts style */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* End fonts style */